.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navbar-default{
  background-color: #FFFFFF;
}
.btReadMore{
  padding: 10px;
  background-color: #efecec;
  color: #320E0E;
  width: 100px;
  margin-left: 20px;
}
.btReadMore:hover{
  cursor: pointer;
  border:1px solid black;
}
.blogHeading{
  margin-left: 20px;
}
/* -------------------------------------
 create new blog poster
----------------------------------------*/
.createBlogTitle{
  font-size: 18px;
  padding: 5px 10px 10px 5px;
  display: block;
  width: 100%;
  border:1px solid gray;
}
.createBlogMessage{
  font-size: 18px;
   padding: 5px 10px 10px 5px;
   display: block;
   width: 100%;
   border:1px solid gray;
}
.createBlogLabel{
  color: #8dbad4;
  font-size: 18px;
  font-weight: normal;
  pointer-events: none;
  position: initial;
  left: 5px;
  margin-top: 20px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.blogBannerImage{
  width: 1110px;
  height: 300px;
}
.cmtIconImage{
  margin-top: 10px;
  width: 56px;
  height: 56px;
}
.abtImage{
  width: 60px;
  height: 70px;
}
.cmtName,.cmtEmail,.cmtMessage{
  width: 500px;
  padding: 5px 0px 5px 0px;
}
.btn-warning{
  margin-top: 10px;
  width: 110px;
}
.cmtEmail{
  line-height: 0px;
  display: block;
}
.cmtName{
  line-height: 0px;
  padding: 5px 10px 10px 5px;
  width: 100%;


}
.cmtBody{
  line-height: 0px;
  display: block;
}
/* Navigation */
.navbar-collapse{
  background-color: #8dbad4;
}
.navbar-default{
  border-color: white;
}
.navbar-default .navbar-nav li a{
	color: #FFFFFF;
  font-size: 20px;
}
.cmtLabel{
  color: #000000;
  font-size: 18px;
  position: initial; 
}
/*----------------------------------------------
		contact form style
------------------------------------------------*/
* {
  box-sizing: border-box;
}


h2 {
  margin-bottom: 50px;
  color: #8dbad4;
}

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 35px;
}

input {
  font-size: 18px;
  padding: 5px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #8dbad4;
  background: transparent;
}

  input:focus {
      outline: none;
  }

/* LABEL ======================================= */
label {
  color: #8dbad4;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #8dbad4;
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 100%;
}

  .bar:before, .bar:after {
      content: '';
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: #fff;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
  }

  .bar:before {
      left: 50%;
  }

  .bar:after {
      right: 50%;
  }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
      background: #fff;
  }

  to {
      width: 0;
      background: transparent;
  }
}

@-moz-keyframes inputHighlighter {
  from {
      background: #fff;
  }

  to {
      width: 0;
      background: transparent;
  }
}

@keyframes inputHighlighter {
  from {
      background: #fff;
  }

  to {
      width: 0;
      background: transparent;
  }
}
