.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.navbar-default{
  background-color: #FFFFFF;
}
.btReadMore{
  padding: 10px;
  background-color: #efecec;
  color: #320E0E;
  width: 100px;
  margin-left: 20px;
}
.btReadMore:hover{
  cursor: pointer;
  border:1px solid black;
}
.blogHeading{
  margin-left: 20px;
}
.createBlogTitle{
  width: 94%;
}